/* Thanks to https://gist.github.com/mckern/8a09a6b75155ca7a3fdab45539d7d024
 * and https://twitter.com/the_mckern for the help!
 */

table.highlighttable {
  border: 0;
  width: 100%;
}

table.highlighttable tr {
  border-top: 0px;
}

table.highlighttable td {
  margin: 0;
  padding: .75em 0;
  border: none;
}

table.highlighttable td.linenos {
  width: 2.5em;
  min-width: 2.5em;
  text-align: right;
  padding-right: .10em;
  background-color: #56544f;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

table.highlighttable td.code {
  padding-left: .5em;
  border-left: 1px solid #85816f;
  padding-right: .5em;
  background: #3a3a3a;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

table.highlighttable td.linenos div.linenodiv pre {
  text-align: right;
  padding-right: .4em;
  color: #888;
}

.highlighttable pre {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

pre {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 0px;
  font-size: .75em;
  line-height: 1.75em;
  background: #3a3a3a;
  color: #f8f8f2;
  overflow: auto;
  /* overflow-x: scroll; */
  white-space: pre;
  /* white-space: pre-wrap; */
  /* word-wrap: break-word; */
  /* word-break: normal; */
}

pre .err {
  background-color: #3a3a3a;
}

div.box figure {
  outline: solid black;
  box-shadow: 10px 10px 5px grey;
}

/* --- Code blocks --- */

.chroma .ln {
  margin-right: 0.8em;
  padding: 0 0.4em 0 0.4em;
}
pre code.hljs {
  padding: 9.5px;
}

.highlight tr, .highlight pre {
  border: none;
}

.highlight div:first-child {
  border-radius: 4px;
}

.highlight td:first-child pre, .highlight pre {
  border-top-left-radius: 4px;
  border-top-right-radius: unset;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: unset;
  overflow: hidden;
}

.highlight td:last-child pre, .highlight pre {
  border-radius: unset;
}

.highlight td:last-child pre code, .highlight pre code {
  white-space: pre;
}