/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript&plugins=line-numbers */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 10;
	border: none !important;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border: 1px solid #d0d0d0 !important;
	border-radius: 0.25rem;
}
pre > code {
	border: none !important;
	background-color: transparent !important;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function,
.token.class-name {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		pointer-events: none;
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}


.post-preview {
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
  font-size: calc(0.6em + 0.33vw) !important;
}

.post-preview a {
  text-decoration: none;
  color: #222222;
}

.post-preview:last-child {
  border-bottom: 0;
}

.postmeta {
  margin: 10px 0;
}

.post-entry {
  width: 100%;
  margin-top: 10px;
}

a.post-read-more{
	margin-top: 0rem !important;
}

.post-read-more {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 800;
  float: right;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

a.post-read-more::after{
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

a.post-read-more:hover::after{
  transform: scale(1, 1);
}

.pattern-list a:hover:not(.active) {
}

.pattern-list .previous > a {
  font-weight: 800;
  float: left;
}

.pattern-list .next > a {
  font-weight: 800;
  float: right;
  color:#222222;
}

.next > a:hover, .previous > a:hover {
	border-bottom: 0 !important;
	border: none !important;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin: 0 auto;
}

/*footnote format*/
a.footnote-ref{
  font-family: 'Adelle Cyrillic', 'Times New Roman', serif;
  font-size: .8em;
  border: 1px solid #d0d0d0;
  border-radius: 0.6rem;
  padding: 0 4px;
  background: #f7f7f7;
  color: red;
}

.footnotes p{
	margin-bottom: 0.5rem;
}

.toc-h3{
  padding-left: 0.75rem;
}

.MathJax_Display { 
  background-color: transparent; 
  margin: 0.3em 0em !important;
}


html,
body {
  height: 100%;
  background-color: #fefefe;
  color: #111;
}
body {
  color: #555;
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 1em;
  line-height: 2;
}
@media (max-width: 991px) {
  body {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  margin: 20px 0 15px;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.375em;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1.125em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.875em;
}
p {
  margin: 0 0 20px 0;
}